* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
section {
  margin-top: 50px;
}
.text {
  width: 960px;
  padding: 20px 0 20px 20px;
}
.text:nth-child(odd) {
  background-color: dimgray;
}
main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.container {
  width: 100%;
}
.boxes {
  margin: 50px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  height: 200px;
  width: 30%;
  background-color: yellow;
  margin-right: 5%;
  margin-bottom: 40px;
}
.box:nth-child(3n) {
  margin-right: 0;
}
.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
  background-color: orange;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
  margin-bottom:0;

}
}
